<%- include('header') -%>

<%- include('navbar') -%>

<% exercises.forEach(element => { %>
    <div class="container containerstyle">
        <div class="row" style="justify-content: flex-start">
            <div style="width: 100%">
                <div class="row h3">
                    <label class="col-4 col-form-label">
                        <%= element.type %>
                    </label>
                </div>

                <div class="excercisecontainer">
                    <% element.name.forEach(exercise => { %>

                            <form method="get" class="col-10" style="display: inline">
                                <label class="col-form-label col-6" for="editButton">
                                    <%= exercise.name %>
                                </label>
                                <input type="submit" class="btn col-2 editbtn " id="editButton"
                                       formaction="/exercises/update/<%= exercise.id %>" value="Edit"/>
                            </form>

                            <form method="post" class="col-2" style="display: inline">
                                <input type="submit" class="btn btn-danger col-2 removebtn" id="deleteButton"
                                       formaction="exercises/remove/<%= exercise.id %>" value="Delete" />
                            </form>
                    <% }); %>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary col-10" id="newButtonAbs" href="/exercises/new">New Excercise
                    </button>
                </div>
            </div>
        </div>
    </div>
<% }); %>


<%- include('footer') -%>